SECRET_KEY=super-secret-2026-medtrack
DATABASE_URL=mysql+pymysql://admin:YOUR_RDS_PASSWORD@my-database.cpo6k4i8s5xx.ap-south-2.rds.amazonaws.com:3306/meditrack
FLASK_ENV=production
MAIL_SERVER=
MAIL_PORT=587
MAIL_USE_TLS=true
MAIL_USERNAME=admin
MAIL_PASSWORD=admin123
APP_NAME=MediTrack