[Unit]
Description=MediTrack Gunicorn Service
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/capstone_project_meditrack
EnvironmentFile=/home/ubuntu/capstone_project_meditrack/.env
ExecStart=/home/ubuntu/capstone_project_meditrack/venv/bin/gunicorn --workers 3 --bind 127.0.0.1:5000 wsgi:app
Restart=always

[Install]
WantedBy=multi-user.target
